.topImage{
  position: absolute;
  top:0px;
}

.bottoomhalf{
    width:100vw;
    height: 120vh;
    background-image: url('dianaM.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(83, 237, 245);
}

.bottomhalf{
    width:100vw;
    height:100vh;
    background-color: rgb(83, 237, 245);
}


.iphone{
  color: rgb(61, 119, 173);
  font-family: 'Fjalla One', sans-serif;
  margin: 0px;
  text-shadow: 2px 2px rgb(0,0,0) ;
  text-align: center;
  
}

h3{
    color: rgb(61, 119, 173);
    font-family: 'Josefin Sans', sans-serif
}

.BTS{
  font-family: 'Baskervville', serif;
}
.diana{
    color: rgb(61, 119, 173);
   text-align: center;
    margin:  3%;
}


a{
    text-align: center;
    display: inline;
    text-decoration: none;
    color: rgb(0,0,0);
}

ul {
  list-style-type: none;
  margin:0px;
  padding:8px;
  overflow:hidden;
  background-color:rgb(83, 237, 245);
  background-color: rgb(176, 248, 255);
   position: fixed;
 bottom: 0;
  width: 100%;
   
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(197, 66, 207);
  color: white;
}

li {
  border-right: 1px solid #bbb;
}

li:last-child {
  border-right: none;
}

.active {
  background-color: rgb(255, 176, 252);
   font-family: 'Russo One', sans-serif;
  
}

.contact1{
  background-color: rgb(255, 176, 252);
  font-family: 'Russo One', sans-serif;

}
.here{
  background-color: rgb(255, 176, 252);
  font-family: 'Russo One', sans-serif;
  
}
.Facts{
  font-family: 'Patua One', cursive;
  color: rgb(61, 119, 173);
  margin: 0px;
   text-align: center;
  text-shadow: 2px 2px rgb(0,0,0) ;
}

.table{
  color: rgb(61, 119, 173);
  font-family: 'Patua One', cursive;
  text-shadow: 2px 2px rgb(0,0,0) ;
  
}



.BTS{
  font-family: 'Francois One', sans-serif;
   text-align: center;
}

.BTS1{
  font-family: 'Francois One', sans-serif;
}

.BTS2{
   font-family: 'Francois One', sans-serif;
}

.BTS3{
 font-family: 'Francois One', sans-serif;
}

.BTS4{
    font-family: 'Francois One', sans-serif;
}

.BTS5{
  font-family: 'Francois One', sans-serif;
}

.contact2{
  text-align: center;
  color: rgb(61, 119, 173);
  font-family: 'Baloo Bhai', cursive;
  margin: 0px;
  text-shadow: 2px 2px rgb(0,0,0) ;
  
}

.name{
  line-height: 2;
   margin-left:40%;
  text-align: center;
  font-family: 'Anton', sans-serif;
}

.Email{
  line-height: 2;
  text-align: center;
  margin-left:40%;
  font-family: 'Anton', sans-serif;
}

.message{
   line-height: 4;
    margin-left:36%;
   text-align: center;
  font-family: 'Anton', sans-serif;
}

.feel{
    margin-left:40%;
   text-align: right;
  font-family: 'Merriweather Sans', sans-serif;
}

.Members{
  font-family: 'Patua One',sans-serif ;
}

.age{
  font-family: 'Patua One',sans-serif ;
}

.pic{
  font-family: 'Patua One',sans-serif ;
}

.pos{
  font-family: 'Patua One',sans-serif ;
}

.mem{
  font-family: 'Acme', sans-serif;
}

.age2{
  font-family: 'Acme', sans-serif;
}

.pos2{
  font-family: 'Acme', sans-serif;
}

.mem1{
  font-family: 'Acme', sans-serif;
}

.age3{
  font-family: 'Acme', sans-serif;
}

.pos3{
  font-family: 'Acme', sans-serif;
}
.mem2{
  font-family: 'Acme', sans-serif;
}

.age4{
  font-family: 'Acme', sans-serif;
}

.pos4{
  font-family: 'Acme', sans-serif;
}

.mem3{
font-family: 'Acme', sans-serif;
}

.age5{
  font-family: 'Acme', sans-serif;
}

.pos5{
  font-family: 'Acme', sans-serif;
}

.mem4{
  font-family: 'Acme', sans-serif;
}

.age6{
  font-family: 'Acme', sans-serif;
}

.pos6{
  font-family: 'Acme', sans-serif;
}

.send{
  margin-left:60%;
   text-align: right;
}